[Unit]
Description=daily questions start up service

[Service]
ExecStart=./index.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/developer/workspace

[Install]
WantedBy=multi-user.target
